* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;

}

.nav1 {
  width: 100%;
  /* background-image:linear-gradient(to right, #251d5f,#0cc8bf);  */
  background-color: #251d5f;
}

.navbar-brand {
  color: #d4e6e7 !important;
}

.nav-link {

  color: #d4e6e7 !important;
}

.nav-link:hover {
  color: #e06263 !important;
}

#img1 {
  display: flex;
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
  background-image: url("https://www.parents.com/thmb/VK_eMsHSWaYAAAuaFnyO88r_mh0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-901208614-2000-9d4cdf4d1ad94fcb97ca78d67836a9d8.jpg");
  background-attachment: fixed;

}


.fon {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #0cc8bf;
}


form {
  width: 60%;
  margin: 0 auto;
  margin-left: 130px;
}

form h2 {
  color: #e06263;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Two columns */
  grid-gap: 10px;
  /* Adjust the space between columns */
}

.col {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 500px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


textarea#address {
  resize: none;
  height: 40px;
}


input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #45a049;
}


.card1 {
  width: 100%;
  height: 200px;
  color: #d4e6e7;
  background-color: #412ce1d7;
  text-align: center;
}

.card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Align both text and circles vertically */
  margin: 30px;

}

.card-text {
  flex: 1;
  text-align: justify;
  margin-right: 20px;
  /* Add margin to separate text from circles */
}

.circles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 50px;
  justify-content: center;
  /* Center circles horizontally */
}

.row {
  display: flex;
  justify-content: space-around;
  /* Adjust as needed */
  width: 100%;
  /* Ensure circles fill the width of the container */
}

.circle {
  flex: 0 0 calc(33.333% - 50px);
  /* Three circles in a row with gap */
  width: -10px;
  /* Set width and height for perfect circles */
  height: 170px;
  text-align: center;
  color: #251d5f;
  font-weight: 500;
  background-color: #fff;
  /* Initial color */
  border-radius: 50%;
  padding: 20px;
  /* Adjust for gap between circles */
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  /* Smooth transition */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* Box shadow */
}

.circle:hover {
  background-color: lawngreen;
  /* Color on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Adjusted box shadow on hover */
}

.clicked {
  background-color: #28a745;
  /* Change color after click */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  /* Adjusted box shadow after click */
}

.circle::after {
  content: attr(data-text);
  /* Get text from data-text attribute */
  color: #fff;
  /* Text color */
}

.circle:hover::after {
  color: #fff;
  /* Ensure text color remains white on hover */
}

#circle1:hover {
  background-color: springgreen;
  /* Color on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Adjusted box shadow on hover */
}

#circle2:hover {
  background-color: deeppink;
  /* Color on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Adjusted box shadow on hover */
}

#circle3:hover {
  background-color: greenyellow;
  /* Color on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Adjusted box shadow on hover */
}

#circle4:hover {
  background-color: #0cc8bf;
  /* Color on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Adjusted box shadow on hover */
}

#circle5:hover {
  background-color: rgb(224, 14, 224);
  /* Color on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Adjusted box shadow on hover */
}

#circle6:hover {
  background-color: rgb(34, 225, 101);
  /* Color on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Adjusted box shadow on hover */
}

.card3 {
  justify-content: center;
  text-align: justify;
  margin: 100px;

  margin-top: 10px;
}

.card3 h2 {
  color: darkmagenta;
}

.footer {
  background-color: #251d5f;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}


/* about us page */
.about1 {
  height: 300px;
  background-color: #251d5f;
  color: #fff;
  text-align: center;
  font-size: 100px;
}

.about1 img {
  width: 500px;
}

.about2 {

  margin-top: 200px;
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
}

.about3 {
  display: flex;
  margin: 80px;
  justify-content: center;

}

.about3 img {
  width: 300px;
  height: 300px;
}

.about3 div {
  margin-top: 100px;
  margin: 40px;
}

.about4 {
  display: flex;
  margin: 80px;
  margin-bottom: 20px;
  justify-content: center;
  padding: 20px;

}

.about4 div {
  justify-content: center;
  text-align: justify;
  padding: 20px;

}

.about4 img {
  width: 250px;
  height: 200px;
  text-justify: inter-word;
}

.about5 iframe {
  width: 100%;
}

.about6 {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.about6 h3{
  color: #fff;
}

.box {
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.icon {
  font-size: 40px;
  color: #333333;
  margin-bottom: 10px;
}



.about6 #box1 {
  background-color: deeppink;
  
}

.about6 #box2 {
  background-color: chartreuse;
}

.about6 #box3 {
  background-color: rgb(5, 211, 211);
}

.about6 #box4 {
  background-color: mediumorchid;
}

#outer1{
  height: 270px;
  width: 270px;
  background-color: deeppink;
  margin-right: 20px;
}
#outer2{
  height: 270px;
  width: 270px;
  background-color: chartreuse;
  margin-right: 20px;
}
#outer3{
  height: 270px;
  width: 270px;
  background-color: rgb(5, 211, 211);
  margin-right: 20px;
}
#outer4{
  height: 270px;
  width: 270px;
  background-color: mediumorchid;
}